@font-face {
    font-family: Poppins;
    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-bold;
    src: url('../font/Poppins-Bold.ttf');
}

body {
    background-image: url('../img/background.png');
    font-size: 0.9rem;
    font-family: Poppins;

}

.card-title {
    font-family: Poppins-bold;
}

.content {
    background-color: #f0efef;
    --bs-gutter-x: 0 !important;
}

.text-menu {
    background-color: #e3e3e3;
    border-left: solid 4px #ef370c;
    font-size: 16px;
    color: #042096;
    padding: 4px 6px;
    margin: 20px 15px 0px 15px;
    font-family: Poppins-bold;
}

ul {
    list-style-image: url('../img/arrow.png');
    margin: 10px 5px 10px 5px;
}

.menu-list li {
    border-bottom: 1px solid #e3e3e3;
    margin: 5px 15px 5px 0px;
}

.menu-list a {
    text-decoration: none;
    color: #042096;
}

.menu-list a:hover {
    text-decoration: underline;
}

.card {
    margin: 0px 16px;
}

footer {
    background-color: #179bd7;
    color: white;
}